@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --primary-color: #ffffff;
  --shadow-light: #ffffff;
  --shadow-dark: #ffffff;
  --text-color: #333;
  --font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.neumorphism {
  background: var(--primary-color);
  box-shadow: 7px 7px 15px var(--shadow-dark), -7px -7px 15px var(--shadow-light);
  border-radius: 12px;
}

.neumorphism-inset {
  background: var(--primary-color);
  box-shadow: inset 7px 7px 15px var(--shadow-dark), inset -7px -7px 15px var(--shadow-light);
  border-radius: 12px;
}

.glow-text {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

